.about{
    height: 100vh;
    padding: 0;
    margin: 10px;
    color:rgb(14, 60, 80);
    display: grid;
    align-items: center;
    justify-content: center;
    background: url("../images/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.personal{
    margin-top: 10px;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    


}

h1{
    margin-bottom: 40px;
    font-weight: 400;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.details{
    display: grid;
    grid-template-columns: 30px 300px;
    margin: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.details img{
    width: 20px;
}

.edu{
    height: 100vh;
    padding:0;
    display: flex;
    flex-direction: row;
    
    
}

.edu h4{
    font-size: 18px;
 
    font-weight: 150;

}