

.contact{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
margin: 10px;
color:rgb(14, 60, 80);
        background: url("../images/back.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
