.name{
    margin: 8px;
    color:rgb(14, 60, 80);
}

.homepage{
    height: 100vh;
    color:rgb(14, 60, 80);
    margin: 10px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: url("../images/back.jpg") ;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.desc{
    margin: 10px;
    color:rgb(14, 60, 80);
    text-align: justify;
    padding-top: 30px;
}

p{
    margin-top: -20px;
}


h1{
    font-weight: 200px;
}

h3{
    font-size: 20px;
    font-weight: 100;
}